#container-title {
  height: 90vh;
  display: flex;
  align-items: center;
  #row-title {
    gap: 20px;
    #main-title {
      color: #40cfff;
      font-size: 80px;
      line-height: 105px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: none;
    }
    #secondary-title {
      color: #282828;
      font-size: 33px;
      line-height: 44px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0px;
      text-transform: none;
    }
  }
}

@media all and (max-width: 768px) {
  #container-title {
    #row-title {
      #main-title {
        font-size: 55px;
        line-height: 66px;
        padding-right: 224px;
      }
      #secondary-title {
        font-size: 18px;
        line-height: 0px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  #container-title {
    height: 45vh;
    #row-title {
      width: 100%;
      #main-title {
        font-size: 32px;
        line-height: 32px;
      }
      #secondary-title {
        display: none;
      }
    }
  }
}
