#container-sobreMiDos {
  padding-top: 150px;
}
.text-sobreMi {
  color: #1d1d1d;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  font-weight: 300;
}
.icon {
  font-size: 80px;
  font-weight: 300;
  color: #6c757db3;
}
