.navBar-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 55px;
  .navBar-wrapper {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .icon-container {
      span {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 50px;
        #point {
          color: #40cfff;
          font-size: 80px;
          font-weight: 400;
          line-height: 0;
        }
      }
    }
    .nav-bar {
      display: flex;
      align-items: center;
      gap: 42px;
      margin: 0;
      li {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        text-transform: none;
        a {
          text-decoration: none;
          color: #1d1d1d;
          cursor: pointer;
          &:hover {
            color: #40cfff;
          }
        }
        .active {
          background-color: #40cfff;
          padding: 8px 16px;
          vertical-align: middle;
          border-radius: 2px;
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

#down {
  position: fixed;

  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
  padding: 0;
  transition: all 0.1s ease;
  .nav-wrapper {
    padding: 0;
  }
}
