@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
}
::selection {
  color: white;
  background: #40cfff;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

li {
  list-style: none;
}
