.container-proyectos {
  padding-bottom: 75px;
  padding-top: 25px;
  #row-proyectos-title {
    margin-bottom: 50px;
    h2 {
      color: #40cfff;
      font-size: 70px;
      line-height: 70px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      text-transform: none;
      margin-bottom: 20px;
    }
    h3 {
      color: #282828;
      font-size: 33px;
      line-height: 44px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0px;
      text-transform: none;
    }
  }
  #row-proyectos {
    .box-img {
      transition: 1s;
      width: 100%;
      overflow: auto;
      height: 550px;
      &::-webkit-scrollbar {
        width: 6px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        background-color: white;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background-color: rgb(192, 191, 191);
      }
      /* Handle on hover */
      // &::-webkit-scrollbar-thumb:hover {
      //   background-color: #40cfff;
      // }
      img {
        width: 100%;
        // max-width: 100%;
      }
    }
    .box-img:hover {
      transform: scale(1.1);
      z-index: 10;
    }
    .name-proyectos {
      margin-top: 30px;
      font-size: 17px;
      line-height: 28px;
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0px;
      text-transform: none;
    }
  }
}

@media all and (max-width: 768px) {
  .container-proyectos {
    padding: 40px 55px 75px 55px;
    #row-proyectos-title {
      h2 {
        font-size: 54px;
        line-height: 56px;
      }
      h3 {
        font-size: 22px;
        line-height: 37px;
      }
    }
  }
}

@media all and (max-width: 576px) {
  .container-proyectos {
    padding: 0px 55px 50px 55px;
    #row-proyectos-title {
      h2 {
        font-size: 28px;
        line-height: 38px;
      }
      h3 {
        font-size: 17px;
        line-height: 29px;
      }
    }
    #row-proyectos {
      gap: 35px;
    }
  }
}

@media all and (max-width: 321px) {
  .container-proyectos {
    padding: 50px 40px 75px 40px;
  }
}
